*{
    padding: 0;
    margin: 0;
}

:root {
    --bg-color: #EFF0F5;
    --main-color: #335AFF;
    --btn-shadow: #DADFF8;
}

body {
    background-color: var(--bg-color);
}

.header {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.bg {
    margin-top: 50px;
    background-color: var(--bg-color)

}

.menu {
    display: flex;
    gap: 40px;
}

.log-in {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.nav:hover {
    border-bottom: 1px solid var(--main-color);
}

.button {
    padding: 10px 20px;
    background-color: var(--main-color);
    border-radius: 5px;
    color: white;
}

.content {
    align-items: center;
    gap: 20px;
    margin-top: 70px;
    text-align: center;
}

input {
   border-radius: 5px;
   padding: 17px;
   width: 280px;
   border: none;
   outline: none;
   box-shadow: -5px 5px 10px var(--btn-shadow);
}

.textarea {
    display: flex;
    align-items: center;
}

.submit {
    position: absolute;
    margin-left: 220px;
    background-color: var(--main-color);
    border-radius: 5px;
    padding: 10px;
    width: 70px;
}

.submit > a {
    text-decoration: none;
    color: white;
}

.submit:hover {
    box-shadow: -5px 5px 10px var(--btn-shadow);
}

h1 {
    font-size: 50px;
}

p {
    font-size: 17px;
}

.main-ft {
    margin-top: 50px;
    width: 350px;
}
.apacia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    background-color: #356CF2;
}

.apacia > .partners {
    margin: 0 80px;
    height: 50px;
}